.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
.RDataTmp

# raster and image files
**/*.svg

# singularity images
**/*.sif

# ppt slides
**/*.pptx

# raster data folders
**/data/*
data/TechnicalValidation/ValidationData*
!data/TabularData
!data/TechnicalValidation/*
!data/PixelFreq
!data/SpatialData/ExampleSmallRasters
**/google_keys*

**/Mismatch_ByCell*
**/LANDFIRE_AutoKeyReports/*
AKReports.zip

# 'project' folder (has necessary R packages)
**project/*
**figures/
#writing
**/writing/*
**/presentations/*

# output from sbatch runs
**/stderr*
**/stdout*

# do not ignore code used to make figures. not totally sure why it excluded
!code/make_figures

