.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

# raster and image files
**/*.tif
**/*.svg

# singularity images
**/*.sif

# raster data folders
**/data/*
**/SpatialData


# 'project' folder (has necessary R packages)
**project/*

# output from sbatch runs
**/stderr*
**/stdout*
