.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

# raster and image files
**/*.tif
**/*.svg

# singularity images
**/*.sif

# ppt slides
**/*.pptx

# raster data folders
**/data/*
!data/TabularData
**/LANDFIRE_AutoKeyReports/*
AKReports.zip

# 'project' folder (has necessary R packages)
**project/*

#writing
**/writing/*
**/presentations/*

# output from sbatch runs
**/stderr*
**/stdout*
